
@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>
}
@model Hotel.Management.Services.ClientService.Dto.CreateOrUpdateClient
<h2>Edycja klienta</h2>
<form method="post">
	<div class="form-group">
		    
			<div class="col-sm-3 my-1">
				<label>Imię i nazwisko</label>
				<input type="text" class="form-control" asp-for="FullName" />
			</div>
			


		
			<div class="col-sm-3 my-1">
				<label>Email</label>
				<input type="text" class="form-control" asp-for="Email" />
			</div>
			<div class="col-sm-2 my-1">
				<label>Telefon</label>
				<input type="text" class="form-control" asp-for="Phone" />
			</div>

		
			<div class="col-sm-2 my-1">
				<label>Data urodzenia</label>
				<input type="text" class="form-control" id="datepicker" asp-for="DateOfBirth" value=@Model.DateOfBirth.ToString("yyyy-MM-dd") />
			</div>
			

		

		





		<h4>Dane adresowe</h4>
		
			<div class="col-sm-3 my-1">
				<label>Adres</label>
				<input type="text" class="form-control" asp-for="Address.AddressLine" />
			</div>
			



		
			<div class="col-sm-2 my-1">
				<label>Kod pocztowy</label>
				<input type="text" class="form-control" asp-for="Address.PostalCode" />
			</div>
			<div class="col-sm-3 my-1">
				<label>Miasto</label>
				<input type="text" class="form-control" asp-for="Address.City" />
			</div>
		
		<div>
			<button type="submit" class="btn btn-primary my-1">Zatwierdź dane</button>
		</div>


	</div>




	


</form>
